!!! 5
%html
  %head

    %script{:src => '/js/ext/jquery-1.9.1.min.js', :type => 'text/javascript'}
    %script{:src => '/js/fetch_feeds.js', :type => 'text/javascript'}
    %script{:src => '/js/ext/jquery.counter.js', :type => 'text/javascript'}
    %script{:src => '/coffee/bubble_chart.coffee', :type => 'text/coffeescript'}
    %title='Muther'
    :javascript
      var app_mode = "#{ENV['RACK_ENV']}"
  %body
    %ol#buildList
