!!! 5
%html
  %head

    %script{:src => javascript_path('jquery-1.9.1.min')}
    %script{:src => javascript_path('jquery.counter')}
    %script{:src => javascript_path('bubble_chart')}
    %script{:src => javascript_path('formating')}
    %script{:src => javascript_path('time_points')}
    %script{:src => javascript_path('recursive_fetch')}
    %script{:src => javascript_path('defered_fetch')}
    %script{:src => javascript_path('d3.v2.js')}
    %link{:rel => 'stylesheet', :href => stylesheet_path('bubbles')}
    %title='Muther'
    :javascript
      var app_mode = "#{ENV['RACK_ENV']}"
      var sites = #{CONFIG.keys.to_json}
  %body
    #viz
