!!! 5
%html
  %head

    %script{:rel => 'stylesheet', :src => javascript_path('jquery-1.9.1.min')}
    %script{:rel => 'stylesheet', :src => javascript_path('jquery.counter')}
    %script{:rel => 'stylesheet', :src => javascript_path('bubble_chart')}
    %script{:rel => 'stylesheet', :src => javascript_path('d3.v3.js')}
    %title='Muther'
    :javascript
      var app_mode = "#{ENV['RACK_ENV']}"
      var sites = #{CONFIG.keys.to_json}
  %body
    #viz
