.build-status.undefined {
  background: url(/images/black.png) transparent no-repeat;
  background-size: 100%;
  width: 200px;
  height: 200px;
  float: left;
  margin: 5px; }

.build-status.failure {
  background: url(/images/red.png) transparent no-repeat;
  background-size: 100%;
  width: 200px;
  height: 200px;
  float: left;
  margin: 5px; }

.build-status.caution {
  background: url(/images/amber.png) transparent no-repeat;
  background-size: 100%;
  width: 200px;
  height: 200px;
  float: left;
  margin: 5px; }

.build-status.success {
  background: url(/images/green.png) transparent no-repeat;
  background-size: 100%;
  width: 200px;
  height: 200px;
  float: left;
  margin: 5px; }

.trowel-icon {
  height: 200px;
  position: absolute;
  left: 965px; }

.apdex.undefined {
  background: url(/images/black.png) transparent no-repeat;
  background-size: 100%;
  width: 200px;
  height: 200px;
  float: left;
  margin: 5px; }

.apdex.failure {
  background: url(/images/red.png) transparent no-repeat;
  background-size: 100%;
  width: 200px;
  height: 200px;
  float: left;
  margin: 5px; }

.apdex.caution {
  background: url(/images/amber.png) transparent no-repeat;
  background-size: 100%;
  width: 200px;
  height: 200px;
  float: left;
  margin: 5px; }

.apdex.success {
  background: url(/images/green.png) transparent no-repeat;
  background-size: 100%;
  width: 200px;
  height: 200px;
  float: left;
  margin: 5px; }

.new-relic-icon {
  height: 200px;
  position: absolute;
  left: 1175px; }

.average-page-load-time.undefined {
  background: url(/images/black.png) transparent no-repeat;
  background-size: 100%;
  width: 200px;
  height: 200px;
  float: left;
  margin: 5px; }

.average-page-load-time.failure {
  background: url(/images/red.png) transparent no-repeat;
  background-size: 100%;
  width: 200px;
  height: 200px;
  float: left;
  margin: 5px; }

.average-page-load-time.caution {
  background: url(/images/amber.png) transparent no-repeat;
  background-size: 100%;
  width: 200px;
  height: 200px;
  float: left;
  margin: 5px; }

.average-page-load-time.success {
  background: url(/images/green.png) transparent no-repeat;
  background-size: 100%;
  width: 200px;
  height: 200px;
  float: left;
  margin: 5px; }

.downloads-icon {
  height: 200px;
  position: absolute;
  left: 1390px; }

ol {
  list-style: none;
  padding-left: 0px; }

li {
  display: inline-block;
  height: 200px; }

h2 {
  float: left;
  font-family: "Luckiest Guy", cursive;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 93px;
  width: 760px;
  font-size: 62px; }

span {
  float: left; }

.counter-analog {
  margin-top: 94px; }

body {
  background-color: black;
  color: white;
  min-width: 1670px; }
