@mixin light{
  background-size: 100%;
  width: 200px;
  height: 200px;
  float: left;
  margin: 5px;
}

@mixin red-light{
  background: url(/images/red.png) transparent no-repeat;
  @include light;
}
@mixin amber-light{
  background: url(/images/amber.png) transparent no-repeat;
  @include light;
}
@mixin green-light{
  background: url(/images/green.png) transparent no-repeat;
  @include light;
}
@mixin black-light{
  background: url(/images/black.png) transparent no-repeat;
  @include light;
}

.build-status.undefined{
  @include black-light;
}
.build-status.failure{
  @include red-light;
}
.build-status.caution{
  @include amber-light;
}
.build-status.success{
  @include green-light;
}
.trowel-icon{
  height: 200px;
  position: absolute;
  left: 965px;
}


.apdex.undefined{
  @include black-light;
}
.apdex.failure{
  @include red-light;
}
.apdex.caution{
  @include amber-light;
}
.apdex.success{
  @include green-light;
}
.new-relic-icon{
  height: 200px;
  position: absolute;
  left: 1175px;
}

.average-page-load-time.undefined{
  @include black-light;
}
.average-page-load-time.failure{
  @include red-light;
}
.average-page-load-time.caution{
  @include amber-light;
}
.average-page-load-time.success{
  @include green-light;
}
.downloads-icon{
  height: 200px;
  position: absolute;
  left: 1390px;
}

ol {
  list-style: none;
  padding-left: 0px;
}

li {
  display: inline-block;
  height: 200px;
}

h2 {
  float: left;
  font-family: 'Luckiest Guy', cursive;	
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 93px;
  width: 760px;
  font-size: 62px;
}

span {
  float: left;
}

.counter-analog {	
  margin-top: 94px;
}

body {
  background-color: black;
  color: white;
  min-width: 1670px;
}		
